Checks: |
  -*,
  bugprone-*,
  portability-*,
  clang-analyzer-core*,
  clang-analyzer-security*,
  misc-definitions-in-headers,
  -modernize-*,
  -readability-*,
  -performance-*
HeaderFilterRegex: "^(src|tests|tools)/.*"
WarningsAsErrors: ""
FormatStyle: none
ExtraArgs: ["-std=c11"]
