# type,id,stat,min,max,w_common,w_uncommon,w_rare,w_epic,w_legendary
PREFIX,sharp,damage_flat,1,3,50,30,15,4,1
SUFFIX,of_the_fox,agility_flat,1,2,40,35,15,7,3
PREFIX,heavy,damage_flat,2,5,25,25,20,10,4
SUFFIX,of_swiftness,agility_flat,2,4,10,15,20,15,6

SUFFIX,of_swiftness,agility_flat,2,4,10,15,20,15,6
PREFIX,bulwark,block_chance,3,8,20,25,25,15,10
SUFFIX,of_guarding,block_value,4,12,20,25,25,15,10
PREFIX,embered,phys_conv_fire_pct,5,15,15,18,20,12,6
PREFIX,glacial,phys_conv_frost_pct,5,15,15,18,20,12,6
PREFIX,eldritch,phys_conv_arcane_pct,3,10,12,15,18,12,6
SUFFIX,of_resurgence,guard_recovery_pct,10,30,15,18,20,12,6
SUFFIX,of_spines,thorns_percent,10,25,15,18,20,12,6
SUFFIX,of_rebuke,thorns_cap,8,20,15,18,20,12,6
